{% load static %}{% load compress %}

    <title>{% block title%}{{ DEFAULT_META_TITLE }}{% endblock title%}</title>
    <meta name="description" content="{% block meta_description %}{{DEFAULT_META_DESCRIPTION}}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

<link rel=“preconnect” href=“https://fonts.googleapis.com”>
<link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin>
<link href=“https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700;800&display=swap” rel=“stylesheet”>
{# <link rel="stylesheet" type="text/css" href="{% static "assets/bootstrap-3.4.1-dist/css/bootstrap.min.css" %}?v={{ VERSION }}" media="screen, projection" /> #}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}?v={{ VERSION }}" media="screen, projection" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="icon" href="{% static 'images/public/favicons/favicon.ico' %}">