$staticPath: "/static/";
$colorBlack: #2C2930;
$colorBlue: #4744E3;
$colorBackground: #fafaff;
$colorLight: #F7F7FF;
$colorWhite: #F3F3FA;
$colorLightPurple: #ECEDFF;
$colorGrey: #E0E0E4;
$colorRed: #D41414;
$colorGreen: #389E18;

$gradientBlue: linear-gradient(128.61deg, #9088E3 8.93%, #88A2E3 90.12%);
$gradientPink: linear-gradient(128.61deg, #B688E3 8.93%, #8897E3 90.12%);
$gradientYellow: linear-gradient(141.86deg, #FFD869 8.55%, #FEC52B 94.74%);

$colorMainText: $colorBlack;
$colorWarning: $colorRed;